nav > div{
    color: #d6d6d6;
    text-decoration: #f4efea;
    background-color: #d6d6d6;
}
 body {
 color: #f4efea;
 font-family: Georgia, "Times New Roman", serif;
 background-image: url('images/anime-food.gif');
 /* background-image: url("images/anime-anime-gif.gif"); */
 background-size: cover;
 text-align: center;}
 .wrapper {
 width: 720px;
 margin: 0px auto;}
 .header {
justify-content: center;
align-items: center;
color: rgb(255, 255, 255);
 margin: 40px 0px 20px 0px;
}
 .entry {
 width: 220px;
 float: left;
 margin: 10px;
 height: 198px;
 background-image: url("images/shadow.png");
 background-repeat: no-repeat;
 background-position: bottom;}
 figure {
 display: block;
 width: 202px;
 border-radius: 25px;
 height: 170px;
 background-color:rgb(255 255 255 / 73%);
 padding: 12px;
 text-align: center;
}
 figure img {
 width: 200px;
 border-radius: 8px;
 height: 150px;
 border: 1px solid #d6d6d6;}
 figcaption {
 background-image: url("images/icon.png");
 padding-left: 20px;
 background-repeat: no-repeat;}
