h1 {
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: 3rem;
    font-weight: bold;
    text-decoration: underline;
    margin: 0%;
    padding-bottom:12px;
    color: aliceblue;
}

body {
    /* background: linear-gradient(180deg, #FFEEEE, #DDEFBB); */
    height: 100vh;
    background-image: url('images/brownsolid.jpg');

}

.block {
    display: block;
    margin:auto;
    width: min(70%, 500px);
    border-radius: 70px;
    background: #cea4a4;
    box-shadow:  2px 2px 10px #ac9c9c,
    -2px -2px 10px #918383;
}

#contents {
    margin-top: 2rem;
    height: 250px;
    border: 1px solid black;
    text-align: left;
    border-radius: 25px;
    background-color: rgb(255, 255, 255);
}

.recipe {
    padding: 5px;
    font-size: 1.5rem;
}

a {
    color: rgb(131, 35, 35);
    text-decoration: none;
}

nav {
    text-align: center;
    font-size: 18px;
    font-family: sans-serif;
    color: wheat;
}

a:hover {
    text-decoration: underline;
    color: rgba(112, 50, 50, 0.911);

}

.navcolor a {
    color: rgb(238, 238, 242);
}
